@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
}

#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}
#mainMap{
    background: #cccccc;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
}
.city{
    width:100px;
    height:100px;
    background: skyblue;
    margin-top: 20px;
}
.city.hasLight{
    background: red;
}
.city.focus{
    background: cornflowerblue;
}

.citycard{
    width: 200px;
    height: 300px;
    background: pink;
    display: none;
    position: absolute;
    top:100px;
    left:300px;
}
.cityImg{
    width:150px;
    height:150px;
    background: white;
    margin-left: 25px;
}
.cityBtn{
    width:100px;
    height:50px;
    background: greenyellow;
}
.cityBtn.btnFocus{
    background: yellow;
}
.cityBtn.btnFocus.hasLight{
    background: greenyellow;
}
#rightBtn{
    position: absolute;
    top:0;
    right:0;
    height: 1080px;
    width:300px;
}
.rightBtn{
    display: none;
    width:150px;
    height:60px;
    background: greenyellow;
    margin-top: 30px;
}
.rightBtn.btnFocus{
    background: yellow;
}

#moreChance{
    width:1920px;
    height:1080px;
    background: aliceblue;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    display: none;
}
.coocaabtn2{
    width: 300px;
    height:300px;
    background: palegreen;
    margin: 100px;
}
#strategyPage{
    display: none;
    width: 1920px;
    height:1080px;
    background: cornflowerblue;
    overflow: auto;
}
#strategyPage.show{
    background: url("../images/test.jpg");
}




#city9{
    position: absolute;
    top: 0px;
    left:600px;
}
#city10{
    position: absolute;
    top: 120px;
    left:600px;
}
#city11{
    position: absolute;
    top: 240px;
    left:600px;
}
#city12{
    position: absolute;
    top: 360px;
    left:600px;
}
#city13{
    position: absolute;
    top: 480px;
    left:600px;
}
#city14{
    position: absolute;
    top: 600px;
    left:600px;
}